<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tcmp.dao.BrowseMapper">

    <insert id="addBrowse" parameterType="cn.tcmp.entity.Browse">
        insert into `browse` values(null,#{carID},#{userID})
    </insert>


</mapper>
