<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.dao.CarQicheMapper">
    <resultMap id="carvoMap" type="cn.tcmp.vo.CarVO" autoMapping="true">
        <id property="carID" column="carID"></id>
        <association property="vehical" resultMap="vehicalMap"></association>
    </resultMap>
    <resultMap id="vehicalMap" type="cn.tcmp.entity.Vehicle" autoMapping="true">
        <id property="vehicleID" column="vehicleID"></id>
    </resultMap>
    <!--根据条件查询车辆信息-->
    <select id="queryPageCarVo" parameterType="cn.tcmp.entity.Car" resultType="cn.tcmp.vo.CarVO">

        SELECT c.carID ,
        (SELECT vehicleName FROM vehicle WHERE vehicleID=c.pinpaiID)pinpaiID,
        (SELECT vehicleName FROM vehicle WHERE vehicleID=c.vehicleID)vehicleID
        ,c.mileage,c.model,c.presentPrice,c.originalPrice,
        (SELECT valueName FROM datadictionary WHERE typeCode='CAR_TYPE
        ' AND valueID=typeID) typeID,
        (SELECT valueName FROM datadictionary WHERE typeCode='SEAT' AND valueID=seatID) seatID,
        (SELECT valueName FROM datadictionary WHERE typeCode='GEARBOX' AND valueID=gearboxID) gearboxID,
        c.displacement,
        (SELECT valueName FROM datadictionary WHERE typeCode='EMISSION' AND valueID=emissionID) emissionID,
        (SELECT valueName FROM datadictionary WHERE typeCode='FUEL' AND valueID=fuelID) fuelID,
        (SELECT valueName FROM datadictionary WHERE typeCode='COLOR' AND valueID=colorID) colorID,
        (SELECT valueName FROM datadictionary WHERE typeCode='COUNTRY' AND valueID=countryID) countryID,
        topCity,placingTime,yearlyTime,insuranceTime,superValue,urgentSale,newCar,transitive,personnelID,subordinateName,vehicleage,
        (SELECT carPicturesURL FROM carpictures WHERE carID=c.carID LIMIT 1) carPicturesURL
        FROM car c
        <where>

              <if test="pinpaiID !=null and pinpaiID !=-1">pinpaiID=#{pinpaiID}</if>
              <if test="vehicleID !=null and vehicleID !=-1"> and vehicleID=#{vehicleID}</if>


          </where>

    </select>
    <!--根据车系名称模糊查询车辆信息-->
    <select id="qeuryCarByVehicleChexiname" parameterType="String" resultMap="carvoMap">
        SELECT c.carID ,
        (SELECT vehicleName FROM vehicle WHERE vehicleID=c.pinpaiID)pinpaiID,
        (SELECT vehicleName FROM vehicle WHERE vehicleID=c.vehicleID)vehicleID
        ,c.mileage,c.model,c.presentPrice,c.originalPrice,
        (SELECT valueName FROM datadictionary WHERE typeCode='CAR_TYPE
        ' AND valueID=typeID) typeID,
        (SELECT valueName FROM datadictionary WHERE typeCode='SEAT' AND valueID=seatID) seatID,
        (SELECT valueName FROM datadictionary WHERE typeCode='GEARBOX' AND valueID=gearboxID) gearboxID,
        c.displacement,
        (SELECT valueName FROM datadictionary WHERE typeCode='EMISSION' AND valueID=emissionID) emissionID,
        (SELECT valueName FROM datadictionary WHERE typeCode='FUEL' AND valueID=fuelID) fuelID,
        (SELECT valueName FROM datadictionary WHERE typeCode='COLOR' AND valueID=colorID) colorID,
        (SELECT valueName FROM datadictionary WHERE typeCode='COUNTRY' AND valueID=countryID) countryID,
        topCity,placingTime,yearlyTime,insuranceTime,superValue,urgentSale,newCar,transitive,personnelID,subordinateName,vehicleage,
        (SELECT carPicturesURL FROM carpictures WHERE carID=c.carID LIMIT 1) carPicturesURL
        FROM car c,vehicle v
        WHERE
        c.vehicleID=v.vehicleID
            <if test="vehicleName !=null  and vehicleName !=-1">
                AND v.vehicleName LIKE CONCAT('%',#{vehicleName},'%')
            </if>

        order  by presentPrice desc
    </select>


</mapper>