<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.dao.PersonnelvMapper">
    <select id="personnelList" resultType="cn.tcmp.entity.Personnel" parameterType="cn.tcmp.entity.Personnel">
        SELECT * FROM personnel
        <where>
            <if test="personnelName!=null and personnelName!=''">
                personnelName LIKE CONCAT('%',#{personnelName},'%')
            </if>
            <if test="personnelDate!=null and personnelDate!=''">
                and personnelDate LIKE CONCAT('%',#{personnelDate},'%')
            </if>
        </where>
    </select>
    <select id="PersonnelLogin" resultType="cn.tcmp.entity.Personnel" parameterType="cn.tcmp.entity.Personnel">
        select * from personnel where 1=1
        <if test="personnelPhone!=null and personnelPhone!=''">
            and personnelPhone=#{personnelPhone}
        </if>
        <if test="personnelPassWord!=null and personnelPassWord!=''">
            and personnelPassWord=#{personnelPassWord}
        </if>
        <if test="personnelID!=null and personnelID!=''">
            and personnelID=#{personnelID}
        </if>
    </select>

    <update id="PersonnelUpdate" parameterType="cn.tcmp.entity.Personnel">
        update personnel set 
  personnelPhone = #{personnelPhone},
  personnelName = #{personnelName},
  personnelPassWord = #{personnelPassWord},
  personnelEmail = #{personnelEmail},
  personnelAddress = #{personnelAddress},
  personnelIDCard = #{personnelIDCard},
  personnelGender = #{personnelGender}
WHERE personnelID = #{personnelID}
    </update>
    <insert id="PersonnelAdd" parameterType="cn.tcmp.entity.Personnel">
        insert into sunshineusedcar.personnel (
  personnelID,
  personnelPhone,
  personnelName,
  personnelPassWord,
  personnelEmail,
  personnelAddress,
  personnelIDCard,
  personnelGender
)
VALUES
  (
    null,
    #{personnelPhone},
    #{personnelName},
    #{personnelPassWord},
    #{personnelEmail},
    #{personnelAddress},
    #{personnelIDCard},
    #{personnelGender}
  )
    </insert>
    <delete id="PersonnelDelete" parameterType="Integer">
        delete from personnel where personnelID=#{personnelID}
    </delete>
</mapper>