<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>listIindividualTravelers</title>
    <div th:include="base::base"></div>

    <script src="/js/dateJS.js"></script>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }
        div .row{
            margin-top: 20px;
        }
    </style>
    <script src="js/pageInfoJS.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline" id="selectForm">
                    <div class="form-group">
                        <label for="mName">品牌名称：</label>
                        <input type="text" name="name" class="form-control" id="mName" placeholder="品牌名称">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="mSFZtype">证件类型：</label>-->
                        <!--<select class="form-control" name="itSFZtype" id="mSFZtype">-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="itGender">散客性别：</label>-->
                        <!--<select class="form-control" name="itGender" id="itGender">-->
                        <!--</select>-->
                    <!--</div>-->

                    <button type="button" id="submitForm" class="btn btn-info">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        查询
                    </button>

                    <button type="button" id="toInsertII" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        增加
                    </button>

                </form>
            </div>
        </div>


        <div class="row">
            <!--人员列表-->
            <div class="row" id="listContainer">


            </div>

        </div>


        <div class="row">
            <!--分页-->
            <div class="col-xs-10">
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="fengye">

                    </ul>
                </nav>
            </div>
        </div>





    </div>

    <!--查看模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="detailInformation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">车辆详情</h4>
                </div>
                <div class="modal-body" id="detailInformations">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--编辑模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="updateInformation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑车辆信息</h4>
                </div>
                <div class="modal-body" id="updateInformations">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="alertLeft" onclick="updateInformationForm()">保存修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--alert弹框样式-->
    <div class="modal fade" tabindex="-1" role="dialog" id="alertModel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">系统提示</h4>
                </div>
                <div class="modal-body" id="alerttishi">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--confirm弹框样式-->
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmModel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">系统提示</h4>
                </div>
                <div class="modal-body" id="confirmtishi">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="OkNo()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script type="text/javascript">

    $(function () {
        <!--标题及对应实体名称列-->
        var sz = ["编号id","型号","车系","车龄（年）","里程","品牌","价钱（￥）","操作"];
        var entitySz = ["carID","model","vehicleIDsss","vehicleAge","mileage","pinpaiID","presentPrice"];
        loadMembers("selectForm","ajaxQichelist","pageNum",1,sz,entitySz);

        // 查询按钮
        $("button[id='submitForm']").click(function () {
            loadMembers("selectForm","ajaxQichelist","pageNum",1,sz,entitySz);
        })



        // 去增加页面
        $("#toInsertII").click(function(){
            location.href="toInsertAAAAAA";
        })
    })

    // 点击分页事件
    function clickPage(pageNum) {
        var sz = ["编号id","型号","车系","车龄（年）","里程","品牌（￥）","价钱","操作"];
        var entitySz = ["carID","model","vehicleIDsss","vehicleAge","mileage","pinpaiID","presentPrice"];
        loadMembers("selectForm","ajaxQichelist","pageNum",pageNum,sz,entitySz);
    }

    // 查看散客详情
    function detailInformation(mId) {
        $("#detailInformation").modal("show");

        $.post("ajaxDetailCar","carID="+mId,function (result) {

            $("#detailInformations").html("");
            var html = "";
            html="<table class='table table-striped'>"
                +"<tr class=''>"
                +"<th>车辆编号</th>"
                +"<td>"+result.carID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>品牌</th>"
                +"<td>"+result.pinpaiID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>车系</th>"
                +"<td>"+result.vehicleIDsss+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>车龄</th>"
                +"<td>"+result.vehicleAge+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>行驶里程</th>"
                +"<td>"+result.mileage+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>型号</th>"
                +"<td>"+result.model+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>现价</th>"
                +"<td>"+result.presentPrice+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>原价</th>"
                +"<td>"+result. originalPrice+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>车型</th>"
                +"<td>"+result.typeID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>座位</th>"
                +"<td>"+result.seatID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>变速箱</th>"
                +"<td>"+result.gearboxID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>排量</th>"
                +"<td>"+result.displacement+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>排放</th>"
                +"<td>"+result.emissionID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>燃油</th>"
                +"<td>"+result.fuelID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>颜色</th>"
                +"<td>"+result.colorID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>国别</th>"
                +"<td>"+result.countryID+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>上牌城市</th>"
                +"<td>"+result.topCity+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>上牌时间</th>"
                +"<td>"+getDateTime(result.placingTime,2)+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>年检到期时间</th>"
                +"<td>"+getDateTime(result.yearlyTime,2)+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>是否超值</th>"
                +"<td>"+result.superValue+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>是否急售</th>"
                +"<td>"+result.urgentSale+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>是否准新车</th>"
                +"<td>"+result.newCar+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>是否可迁全国</th>"
                +"<td>"+result.transitive+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>是否急售</th>"
                +"<td>"+result.urgentSale+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>车主</th>"
                +"<td>"+result.subordinateName+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>上架时间</th>"
                +"<td>"+getDateTime(result.shelfTime,2)+"</td>"
                +"</tr>"
                +"<tr class=''>"
                +"<th>工作人员</th>"
                +"<td>"+result.personnel.personnelName+"</td>"
                +"</tr>"
                +"</tr></table>";
            $("#detailInformations").html(html);
        })

    }

    // js ajax加载下拉框型号
    function jsLoadSelectXingHao(code,k){

        $.get("ajaxXiaLaKuang","typeCode="+code,function(result){
            var html = "";
            $.each(result, function (index,item) {

                if(k==item.valueName){
                    html+= "<option selected value='"+item.valueID+"'>"+item.valueName+"</option>";
                }else{
                    html+= "<option value='"+item.valueID+"'>"+item.valueName+"</option>";
                }
            })

            $("select[id='itsfzl']").html(html);

        })
    }
    // js ajax加载下拉框座位
    function jsLoadSelectZuoWei(code, k) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.valueName) {
                    html += "<option selected value='" + item.valueID + "'>" + item.valueName + "</option>";
                } else {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
                }
            })

            $("select[id='seatID']").html(html);

        })
    }
    // js ajax加载下拉框变速箱
    function jsLoadSelectBianShuXiang(code, k) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.valueName) {
                    html += "<option selected value='" + item.valueID + "'>" + item.valueName + "</option>";
                } else {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
                }
            })

            $("select[id='gearboxID']").html(html);

        })
    }

    // js ajax加载下拉框排放标准
    function jsLoadSelectPaiFangBiaoZhun(code, k) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.valueName) {
                    html += "<option selected value='" + item.valueID + "'>" + item.valueName + "</option>";
                } else {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
                }
            })

            $("select[id='emissionID']").html(html);

        })
    }
    // js ajax加载下拉框燃油
    function jsLoadSelectRanYou(code, k) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.valueName) {
                    html += "<option selected value='" + item.valueID + "'>" + item.valueName + "</option>";
                } else {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
                }
            })

            $("select[id='fuelID']").html(html);

        })
    }

    // js ajax加载下拉框颜色
    function jsLoadSelectYanSe(code, k) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.valueName) {
                    html += "<option selected value='" + item.valueID + "'>" + item.valueName + "</option>";
                } else {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
                }
            })

            $("select[id='colorID']").html(html);

        })
    }

    // js ajax加载下拉框国别
    function jsLoadSelectGuoBIe(code, k) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.valueName) {
                    html += "<option selected value='" + item.valueID + "'>" + item.valueName + "</option>";
                } else {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
                }
            })

            $("select[id='countryID']").html(html);

        })
    }
    // js ajax加载下拉框车辆品牌
    function jsLoadSelectPinPai(k) {
        $.get("ajaxQueeyPinPai",function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.vehicleName) {
                    html += "<option selected value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
                } else {
                    html += "<option value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
                }
            })

            $("select[id='pinpaiID']").attr("onchange","ajaxCheXi()");
            $("select[id='pinpaiID']").html(html);

        })
    }
    // js ajax加载下拉框车辆车系
    function jsLoadSelectChexi(k) {
        $.get("ajaxQueeyCheXiQuanbu",function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.vehicleName) {
                    html += "<option selected value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
                } else {
                    html += "<option value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
                }
            })

            $("select[id='vehicleID']").html(html);

        })
    }

function ajaxCheXi() {
    var a=$("select[id='pinpaiID'][onchange='ajaxCheXi()']").val();
    console.log(a);
    $.get("ajaxQueeyCheXi","vehicleID="+a,function (result) {
        var html = "";
        $.each(result, function (index, item) {
            if (a == item.vehicleID) {
                html += "<option selected value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
            } else {
                html += "<option value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
            }
        })


        $("select[id='vehicleID']").html(html);

    })
    
}

    // js ajax加载下拉框员工
    function jsLoadSelectYuanGong(k) {
        $.get("ajaxYuanGong",function (result) {
            var html = "";
            $.each(result, function (index, item) {

                if (k == item.personnelName) {
                    html += "<option selected value='" + item.personnelID + "' >" + item.personnelName + "</option>";
                } else {
                    html += "<option value='" + item.personnelID + "' >" + item.personnelName + "</option>";
                }
            })

            $("select[id='personnelID']").html(html);

        })
    }
    // 编辑车辆
    function updateInformation(mId) {
        $("#updateInformation").modal("show");
        $("#updateInformations").html("");

        $.post("ajaxDetailCar","carID="+mId,function (result) {
            var c;
            var v;
            if(result.itGender==1){
                c = "checked";
            }
            if(result.itGender==2){
                v = "checked";
            }
            jsLoadSelectYuanGong(result.personnel.personnelID);
            jsLoadSelectChexi(result.vehicleID);
            jsLoadSelectPinPai(result.pinpaiID);
            jsLoadSelectXingHao("CAR_TYPE",result.typeID);
            jsLoadSelectZuoWei("SEAT",result.seatID);
            jsLoadSelectBianShuXiang("GEARBOX",result.gearboxID);
            jsLoadSelectPaiFangBiaoZhun("EMISSION",result.emissionID);
            jsLoadSelectRanYou("FUEL",result.fuelID);
            jsLoadSelectYanSe("COLOR",result.colorID);
            jsLoadSelectGuoBIe("COUNTRY",result.countryID);

            var html = "<form class='form-horizontal' id='updateOperatorForm'>"
                +"<div class='form-group'>"
                    +"<label for='on' class='col-sm-4 control-label'>车辆名字:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='model'   class='form-control' value='"+result.model+"' id='on' placeholder='车辆名字'><input type='hidden' name='carID' value='"+result.carID+"'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='presentPrice' class='col-sm-4 control-label'>二手价￥:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='presentPrice'   class='form-control' value='"+result.presentPrice+"' id='presentPrice' placeholder='二手价'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='originalPrice' class='col-sm-4 control-label'>原价￥:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='originalPrice'   class='form-control' value='"+result.originalPrice+"' id='originalPrice' placeholder='原价'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='mileage' class='col-sm-4 control-label'>行驶里程:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='mileage'   class='form-control' value='"+result.mileage+"' id='mileage' placeholder='里程数'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='displacement' class='col-sm-4 control-label'>排量L:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='displacement'   class='form-control' value='"+result.displacement+"' id='displacement' placeholder='排量'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='topCity' class='col-sm-4 control-label'>上牌城市:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='topCity'   class='form-control' value='"+result.topCity+"' id='topCity' placeholder='上牌城市'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='placingTime' class='col-sm-4 control-label'>上牌日期:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='placingTime'   class='form-control' value='"+getDateTime(result.placingTime,2)+"' id='placingTime' placeholder='上牌日期'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='yearlyTime' class='col-sm-4 control-label'>年检到期时间:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='yearlyTime'   class='form-control' value='"+getDateTime(result.yearlyTime,2)+"' id='yearlyTime' placeholder='年检到期时间'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='shelfTime' class='col-sm-4 control-label'>上架时间:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='shelfTime'   class='form-control' value='"+getDateTime(result.shelfTime,2)+"' id='shelfTime' placeholder='上架时间'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                +"<label for='insuranceTime' class='col-sm-4 control-label'>保险到期时间:</label>"
                +"<div class='col-sm-6'>"
                +"<input type='text' name='insuranceTime'   class='form-control' value='"+getDateTime(result.insuranceTime,2)+"' id='insuranceTime' placeholder='保险到期时间'>"
                +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='VehicleAge' class='col-sm-4 control-label'>车龄(年):</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='VehicleAge'   class='form-control' value='"+result.vehicleAge+"' id='VehicleAge' placeholder='车龄'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='subordinateName' class='col-sm-4 control-label'>所属人名字:</label>"
                    +"<div class='col-sm-6'>"
                        +"<input type='text' name='subordinateName'   class='form-control' value='"+result.subordinateName+"' id='subordinateName' placeholder='所属人名字'>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='pinpaiID' class='col-sm-4 control-label'>品牌：</label>"
                    +"<div class='col-sm-6'>"
                         +"<select class='form-control' name='pinpaiID' id='pinpaiID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='vehicleID' class='col-sm-4 control-label'>车系：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='vehicleID' id='vehicleID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='itsfzl' class='col-sm-4 control-label'>车型：</label>"
                    +"<div class='col-sm-6'>"
                         +"<select class='form-control' name='typeID' id='itsfzl'></select>"
                     +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='seatID' class='col-sm-4 control-label'>座位：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='seatID' id='seatID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='gearboxID' class='col-sm-4 control-label'>变速箱：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='gearboxID' id='gearboxID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='emissionID' class='col-sm-4 control-label'>排放标准：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='emissionID' id='emissionID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='fuelID' class='col-sm-4 control-label'>燃油：</label>"
                    +"<div class='col-sm-6'>"
                         +"<select class='form-control' name='fuelID' id='fuelID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='colorID' class='col-sm-4 control-label'>颜色：</label>"
                    +"<div class='col-sm-6'>"
                         +"<select class='form-control' name='colorID' id='colorID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='countryID' class='col-sm-4 control-label'>国别：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='countryID' id='countryID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='personnelID' class='col-sm-4 control-label'>员工：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='personnelID' id='personnelID'></select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='superValue' class='col-sm-4 control-label'>是否超值：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='superValue' id='superValue'>"
                            +"<option value='0'>否</option>"
                            +"<option value='1'>是</option>"
                        + "</select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='urgentSale' class='col-sm-4 control-label'>是否急售：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='urgentSale' id='urgentSale'>"
                            +"<option value='0'>否</option>"
                            +"<option value='1'>是</option>"
                        + "</select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='newCar' class='col-sm-4 control-label'>是否准新车：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='newCar' id='newCar'>"
                            +"<option value='0'>否</option>"
                            +"<option value='1'>是</option>"
                        + "</select>"
                    +"</div>"
                +"</div>"
                +"<div class='form-group'>"
                    +"<label for='transitive' class='col-sm-4 control-label'>是否可迁全国：</label>"
                    +"<div class='col-sm-6'>"
                        +"<select class='form-control' name='transitive' id='transitive'>"
                            +"<option value='0'>否</option>"
                            +"<option value='1'>是</option>"
                        + "</select>"
                    +"</div>"
                +"</div>"
                +"</form>";
            $("#updateInformations").html(html);
        })
    }

    // 编辑保存操作
    function updateInformationForm() {
            var data = $("#updateOperatorForm").serialize();
            $.post("ajaxUpdateQiche",data,function (resutl) {
                if(resutl){
                    $("#alerttishi").html("<font color='green'>操作成功！</font>");
                    var sz = ["编号id","型号","车系","车龄（年）","里程","品牌","价钱（￥）","操作"];
                    var entitySz = ["carID","model","vehicleIDsss","vehicleAge","mileage","pinpaiID","presentPrice"];
                    loadMembers("selectForm","ajaxQichelist","pageNum",1,sz,entitySz);

                }else{
                    $("#alerttishi").html("<font color='red'>操作错误！</font>");
                }
                $("#updateOperator").modal("hide");
            })

        $("#alertModel").modal("show");
    }

    // 检查字符串长度
    function checkLength(r){
        if(r==1){
            var telLength = $("input[name='itTel']").val().length;
            if(telLength!=11){
                $("#telTiShi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
                return false;
            }else{
                $("#telTiShi").html("");
                return true;
            }
        }else if(r==2){
            var telLength = $("input[name='itSFZ']").val().length;
            if(telLength!=18){
                $("#sfzTiShi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
                return false;
            }else{
                $("#sfzTiShi").html("");
                return true;
            }
        }
    }

    // 检查是否包含数字
    function checkNumber() {
        var oName = $("input[name='itName'][id='on']").val();
        var reg = /^(?=.*\d.*\b)/;
        if(reg.test(oName)){
            // 包含nameTiShi
            $("#nameTiShi").html("<font color='red'><span class='glyphicon glyphicon-hand-right' aria-hidden='true'></span></font>");
            return false;
        }else{
            // 不包含
            $("#nameTiShi").html("");
            return true;
        }
    }

    // 判断是否点击的变量
    var isClick = false;
    // 点击确认删除
    function OkNo() {
        isClick = true;
        var oId = $("input[name='hiddenOId']").val();
        if(isClick){
            $("#confirmModel").modal("hide");
            $.post("ajaxDeleteCar","carID="+oId, function (result) {
                if(result){
                    var sz = ["编号id","型号","车系","车龄（年）","里程","品牌（￥）","价钱","操作"];
                    var entitySz = ["carID","model","vehicleIDsss","vehicleAge","mileage","pinpaiID","presentPrice"];
                    loadMembers("selectForm","ajaxQueryAllIindividualTravelers","pageNum",1,sz,entitySz);
                    $("#alerttishi").html("<font color='green'>操作成功！</font>");
                    $("#alertModel").modal("show");
                }else{
                    $("#alerttishi").html("<font color='red'>操作错误！</font>");
                }

            })
        }
    }

    // 删除操作
    function deleteInformation(oId,name){
        $("#confirmtishi").html("确定删除<strong>"+name+"</strong>的信息吗?<input type='hidden' value='"+oId+"' name='hiddenOId'>");
        $("#confirmModel").modal("show");
    }



</script>
</body>
</html>