<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>insertIindividualTravelers</title>
    <div th:include="base::base"></div>

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }
    </style>
    <script src="js/pageInfoJS.js"></script>
</head>
<body>

<div class="container" style="margin-bottom: 200px">
    <div class="row">
        <div class="page-header">
            <h1><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a> 增加 <small>汽车信息</small></h1>
        </div>
        <form class="form-horizontal" id="insertOperatorForm">
            <div class='form-group'>
            <label for='on' class='col-sm-4 control-label'>车辆名字:</label>
            <div class='col-sm-6'>
                <input type='text' name='model'   class='form-control'  id='on' placeholder='车辆名字'><input type='hidden' name='carID' value='"+result.carID+"'>
                </div>
            </div>
            <div class='form-group'>
            <label for='presentPrice' class='col-sm-4 control-label'>二手价￥:</label>
            <div class='col-sm-6'>
                <input type='text' name='presentPrice'   class='form-control'  id='presentPrice' placeholder='二手价'>
                </div>
            </div>
            <div class='form-group'>
            <label for='originalPrice' class='col-sm-4 control-label'>原价￥:</label>
            <div class='col-sm-6'>
                <input type='text' name='originalPrice'   class='form-control' id='originalPrice' placeholder='原价'>
                </div>
            </div>
            <div class='form-group'>
            <label for='mileage' class='col-sm-4 control-label'>行驶里程:</label>
            <div class='col-sm-6'>
                <input type='text' name='mileage'   class='form-control'  id='mileage' placeholder='里程数'>
                </div>
            </div>
            <div class='form-group'>
            <label for='displacement' class='col-sm-4 control-label'>排量L:</label>
            <div class='col-sm-6'>
                <input type='text' name='displacement'   class='form-control'  id='displacement' placeholder='排量'>
                </div>
            </div>
            <div class='form-group'>
            <label for='topCity' class='col-sm-4 control-label'>上牌城市:</label>
            <div class='col-sm-6'>
                <input type='text' name='topCity'   class='form-control' id='topCity' placeholder='上牌城市'>
                </div>
            </div>
            <div class='form-group'>
            <label for='placingTime' class='col-sm-4 control-label'>上牌日期:</label>
            <div class='col-sm-6'>
                <input type='date' name='placingTime'   class='form-control'  id='placingTime' placeholder='上牌日期'>
                </div>
            </div>
            <div class='form-group'>
            <label for='yearlyTime' class='col-sm-4 control-label'>年检到期时间:</label>
            <div class='col-sm-6'>
                <input type='date' name='yearlyTime'   class='form-control'  id='yearlyTime' placeholder='年检到期时间'>
                </div>
            </div>
            <div class='form-group'>
            <label for='insuranceTime' class='col-sm-4 control-label'>保险到期时间:</label>
            <div class='col-sm-6'>
                <input type='date' name='insuranceTime'   class='form-control'  id='insuranceTime' placeholder='保险到期时间'>
                </div>
            </div>
            <div class='form-group'>
                <label for='shelfTime' class='col-sm-4 control-label'>上架时间:</label>
                <div class='col-sm-6'>
                    <input type='date' name='shelfTime'   class='form-control'  id='shelfTime' placeholder='上架时间'>
                </div>
            </div>
            <div class='form-group'>
            <label for='VehicleAge' class='col-sm-4 control-label'>车龄(年):</label>
            <div class='col-sm-6'>
                <input type='text' name='VehicleAge'   class='form-control'  id='VehicleAge' placeholder='车龄'>
                </div>
            </div>
            <div class='form-group'>
            <label for='subordinateName' class='col-sm-4 control-label'>所属人名字:</label>
            <div class='col-sm-6'>
                <input type='text' name='subordinateName'   class='form-control'  id='subordinateName' placeholder='所属人名字'>
                </div>
            </div>
            <div class='form-group'>
            <label for='pinpaiID' class='col-sm-4 control-label'>品牌：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='pinpaiID' id='pinpaiID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='vehicleID' class='col-sm-4 control-label'>车系：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='vehicleID' id='vehicleID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='itsfzl' class='col-sm-4 control-label'>车型：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='typeID' id='itsfzl'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='seatID' class='col-sm-4 control-label'>座位：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='seatID' id='seatID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='gearboxID' class='col-sm-4 control-label'>变速箱：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='gearboxID' id='gearboxID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='emissionID' class='col-sm-4 control-label'>排放标准：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='emissionID' id='emissionID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='fuelID' class='col-sm-4 control-label'>燃油：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='fuelID' id='fuelID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='colorID' class='col-sm-4 control-label'>颜色：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='colorID' id='colorID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='countryID' class='col-sm-4 control-label'>国别：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='countryID' id='countryID'></select>
                </div>
            </div>
            <div class='form-group'>
            <label for='personnelID' class='col-sm-4 control-label'>员工：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='personnelID' id='personnelID'></select>
            </div>
            </div>
            <div class='form-group'>
            <label for='superValue' class='col-sm-4 control-label'>是否超值：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='superValue' id='superValue'>
                    <option value='0'>否</option>
                    <option value='1'>是</option>
                    </select>
                </div>
            </div>
            <div class='form-group'>
            <label for='urgentSale' class='col-sm-4 control-label'>是否急售：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='urgentSale' id='urgentSale'>
                    <option value='0'>否</option>
                    <option value='1'>是</option>
                    </select>
                </div>
            </div>
            <div class='form-group'>
            <label for='newCar' class='col-sm-4 control-label'>是否准新车：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='newCar' id='newCar'>
                    <option value='0'>否</option>
                    <option value='1'>是</option>
                    </select>
                </div>
            </div>
            <div class='form-group'>
            <label for='transitive' class='col-sm-4 control-label'>是否可迁全国：</label>
            <div class='col-sm-6'>
                <select class='form-control' name='transitive' id='transitive'>
                    <option value='0'>否</option>
                    <option value='1'>是</option>
                    </select>
                </div>
            </div>
            <div class='form-group'>

            <div class='col-sm-10'align='center'>
                <button type='button' class='btn btn-primary' id='alertLeft' onclick='insertCarForm()'>确认新增</button>
                </div>
            </div>

        </form>



        <!--alert弹框样式-->
        <div class="modal fade" tabindex="-1" role="dialog" id="alertModel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">系统提示</h4>
                    </div>
                    <div class="modal-body" id="alerttishi">

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
<!--加载下拉框-->
<script type="text/javascript">
    // js ajax加载下拉框型号
    function jsLoadSelectXingHao(code){

        $.get("ajaxXiaLaKuang","typeCode="+code,function(result){
            var html = "";
            $.each(result, function (index,item) {
                    html+= "<option value='"+item.valueID+"'>"+item.valueName+"</option>";
            })
            $("select[id='itsfzl']").html(html);
        })
    }
    // js ajax加载下拉框座位
    function jsLoadSelectZuoWei(code) {

        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
            })
            $("select[id='seatID']").html(html);
        })
    }
    // js ajax加载下拉框变速箱
    function jsLoadSelectBianShuXiang(code) {
        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
            })
            $("select[id='gearboxID']").html(html);
        })
    }

    // js ajax加载下拉框排放标准
    function jsLoadSelectPaiFangBiaoZhun(code) {
        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
            })
            $("select[id='emissionID']").html(html);
        })
    }
    // js ajax加载下拉框燃油
    function jsLoadSelectRanYou(code) {
        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
            })
            $("select[id='fuelID']").html(html);
        })
    }

    // js ajax加载下拉框颜色
    function jsLoadSelectYanSe(code) {
        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
            })
            $("select[id='colorID']").html(html);
        })
    }

    // js ajax加载下拉框国别
    function jsLoadSelectGuoBIe(code) {
        $.get("ajaxXiaLaKuang", "typeCode=" + code, function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.valueID + "'>" + item.valueName + "</option>";
            })
            $("select[id='countryID']").html(html);
        })
    }
    // js ajax加载下拉框车辆品牌
    function jsLoadSelectPinPai() {
        $.get("ajaxQueeyPinPai",function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
            })
            $("select[id='pinpaiID']").attr("onchange","ajaxCheXi()");
            $("select[id='pinpaiID']").html(html);
        })
    }

    function ajaxCheXi() {
        var a=$("select[id='pinpaiID'][onchange='ajaxCheXi()']").val();
        console.log(a);
        $.get("ajaxQueeyCheXi","vehicleID="+a,function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.vehicleID + "' >" + item.vehicleName + "</option>";
            })
            $("select[id='vehicleID']").html(html);
        })
    }

    // js ajax加载下拉框员工
    function jsLoadSelectYuanGong() {
        $.get("ajaxYuanGong",function (result) {
            var html = "";
            $.each(result, function (index, item) {
                    html += "<option value='" + item.personnelID + "' >" + item.personnelName + "</option>";
            })
            $("select[id='personnelID']").html(html);
        })
    }
    $(function () {
        jsLoadSelectYuanGong();
        jsLoadSelectPinPai();
        jsLoadSelectXingHao("CAR_TYPE");
        jsLoadSelectZuoWei("SEAT");
        jsLoadSelectBianShuXiang("GEARBOX");
        jsLoadSelectPaiFangBiaoZhun("EMISSION");
        jsLoadSelectRanYou("FUEL");
        jsLoadSelectYanSe("COLOR");
        jsLoadSelectGuoBIe("COUNTRY");
    })
</script>
<script type="text/javascript">
    // 增加操作
    function insertCarForm() {
            var data = $("#insertOperatorForm").serialize();
            $.post("",data,function (resutl) {
                if(resutl){
                    $("#alerttishi").html("<font color='green'>操作成功！</font>");
                }else{
                    $("#alerttishi").html("<font color='red'>操作错误！</font>");
                }
                $("#alertModel").modal("show");
            })
            $("#alertModel").modal("show");
    }
</script>
</body>
</html>