<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>阳光二手车管理系统</title>
    <link rel="stylesheet" href="/houtai/css/login.css">
    <script type="text/javascript" src="/houtai/js/jquery.min.js"></script>
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <!--<script type="text/javascript" src="/houtai/js/index.js"></script>-->
    <script src="/houtai/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type='submit']").click(function () {
                var data=$("form").serialize();
                alert("aaa");
                $.ajax({
                    type:"get",
                    url:"/houtai/login",
                    data:data,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    async:false,
                    success:function (result) {
                        alert(result.errorcode);
                        console.log ("result::::"+result.data.genTime);
                        console.log ("result::::"+result.errorcode);
                        if (result.errorcode=='0000'){
                            alert("登录成功");
                            var token=result.data.token;
                            var genTime=result.data.genTime;
                            console.log(token)
                            console.log(genTime)
                            document.cookie="token="+token;
                            document.cookie="genTime="+genTime;
                            //location.href="/toindex";
                        }else{
                            alert("登录失败");
                        }
                       return true;
                    }
                })
            })
        })
    </script>
</head>
<body class="login-bg">
    <canvas id="fullstarbg">你的浏览器不支持canvas标签</canvas>
    <div class="login">
        <div class="message">二手车系统登录</div>
        <div id="darkbannerwrap"></div>  <!--/toindex-->
        <form  action="/toindex"  >
            <input name="personnelPhone"  placeholder="手机号"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="personnelPassWord"  lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录"  style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

</body>
</html>